:root{
  /* Main website font color */
  --config-color: #ddd;

  /* Background pattern image  */
  --config-pattern: url(images/pattern.png);

  /* cascade top image */
  --config-cascade: url(images/cascade.png);

  /* cascade footer image */
  --config-footer: url(images/footer.png);

  /* background image for containers */
  --config-container: url(images/container.png);

  /* background image for header */
  --config-header: url(images/header.png);
}

.background{
  background-image: var(--config-cascade);
  background-position: center top;
}
.footer{
  background-image: var(--config-footer);
  background-position: center bottom;
  padding-bottom: 300px;
}

.background, .footer{
  width: 100%;
  background-size: 1920px auto;
  background-repeat: no-repeat;
}

body{
  background: var(--config-pattern) repeat-y;
  background-color: #0f0f0f;
  background-size: auto;
  padding: 0;
  margin: 0;
  background-position: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: var(--config-color);
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 2px #000;
  border-radius: 0px 0px 30px 20px;
}
.container{
  background: var(--config-container);
  width: 100%;
  min-height: 200px;
  background-position: center;
  box-sizing: border-box;
  padding: 40px;
}
.container:last-child{
  border-radius: 0px 0px 30px 30px;
}
.container.header{
  background: var(--config-header);
  position: relative;
  height: 400px;
  margin: 0 0 -20px;
  box-shadow: 0px 0px 15px 2px #000;
  border-radius: 0px 0px 30px 20px;
}
.flex{
  display: flex;
  margin-top: 20px;
}
.flex > .col {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0 20px;
}
.section_header{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.col img{
  max-width: 100%;
  box-shadow: 2px 3px 10px 2px #000;
}
.ta-left{
  text-align: left;
}
.ta-right{
  text-align: right;
}
.ta-center{
  text-align: center;
}
.ta-justify{
  text-align: justify;
}
